<!DOCTYPE html>
<html layout:decorator="layouts/main">
<head>
    <title>History Search</title>
</head>
<body>
    <section layout:fragment="content">
        <header layout:replace="fragments/pageheader">
            <h1 layout:fragment="pageheader-content">
                Channels » <span th:text="${channel}" th:remove="tag">#channel</span> » Chat History
            </h1>
        </header>
        <div layout:replace="fragments/pagepanel">
            <div layout:fragment="pagepanel-content" th:remove="tag">
                <div th:include="fragments/searchform" th:remove="tag"/>
                <h3 th:text="${dateString}">February 10, 2014</h3>
                <div id="chats" class="history-container">
                    <div class="chatBlock" th:each="hit : ${hits}">
                        <a th:name="${hit.numericTimeString}"></a>
                        <table width="100%" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <td class="nameBlock">
                                    <p th:text="${hit.realname}">Some Dude</p>
                                </td>
                                <td class="messageBlock">
                                    <p class="timeBlock" th:text="${hit.timeString}">11:37 PM</p>
                                    <p class="msgText" th:utext="${hit.maybeHighlightedText}">Hey y'all!</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
