<!doctype html>
<head>
    <meta charset="utf-8">
    <title>Banter Admin</title>
    <link rel="stylesheet" href="styles/banter.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.4.3/aui/css/aui.css" media="all">
    <!--[if lt IE 9]><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.4.3/aui/css/aui-ie.css" media="all"><![endif]-->
    <!--[if IE 9]><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.4.3/aui/css/aui-ie9.css" media="all"><![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/aui/5.4.3/aui/js/aui.js"></script>
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/aui/5.4.3/aui/js/aui-ie.js"></script><![endif]-->

    <script src="//cdnjs.cloudflare.com/ajax/libs/aui/5.4.3/aui/js/aui-datepicker.js"></script>
</head>
<body>
<div id="page">
    <header id="header" role="banner">
        <nav class="aui-header aui-dropdown2-trigger-group" role="navigation">
            <div class="aui-header-inner">
                <div class="aui-header-primary">
                    <h1 id="logo" class="aui-header-logo aui-header-logo-textonly"><a href="/"><span class="aui-header-logo-device">Banter</span></a></h1>
                    <ul class="aui-nav">
                        <li><a href="/admin">Admin</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section id="content" role="main">
        <header class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-main">
                    <h1>Admin</h1>
                </div>
            </div>
        </header>
        <div class="aui-page-panel">
            <div class="aui-page-panel-inner">
                <section class="aui-page-panel-content">
                    <h2>Channel Management</h2>
                    <% if (model.notice) { %>
                    <div class="aui-message info closeable">
                        <p><span class="aui-icon icon-info"></span> ${model.notice}</p>
                    </div>
                    <% } %>
                    <h3>Current channels</h3>
                    <% if (model.channels) { %>
                        <ul>
                            <% for (channel in model.channels) { %>
                            <li>${channel}</li>
                            <% } %>
                        </ul>
                    <% } else { %>
                        No channels currently registered.
                    <% } %>
                    <form action="/addChannel" method="POST" class="aui">
                        <label><input type="text" name="channel" class="text"/></label>
                        <input type="submit" value="Add Channel" class="button"/>
                    </form>
                </section>
            </div>
        </div>
    </section>
</div>
</body>
</html>
