<!DOCTYPE html>
<html layout:decorator="layouts/main">
<head>
    <title>Dashboard</title>
</head>
<body>
<div>
    <section layout:fragment="content">
        <header class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-main">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </header>
        <div class="aui-page-panel">
            <div class="aui-page-panel-inner">
                <section class="aui-page-panel-content">
                    <h2>History Search</h2>
                    <div class="search-box">
                    <form action="/search" method="GET" id="search-form" class="aui">
                        <input type="text" id="q" name="q" class="text"/>
                        <select class="select" id="channel" name="channel">
                            <option value="">All rooms</option>
                            <option th:each="channel : ${channels}" th:text="${channel}">My Channel</option>
                        </select>
                        <input type="submit" value="Search" class="button"/>
                    </form>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
</body>
</html>
