<!DOCTYPE html>
<html layout:decorator="layouts/main">
<head>
    <title>History Search</title>
</head>
<body>
    <section layout:fragment="content">
        <header layout:replace="fragments/pageheader">
            <h1 layout:fragment="pageheader-content">History Search</h1>
        </header>
        <div layout:replace="fragments/pagepanel">
            <div layout:fragment="pagepanel-content" th:remove="tag">
                <div th:include="fragments/searchform" th:remove="tag"/>
                <div class="search-results-container">
                    <div id="chats" class="search-results">
                        <div class="search-result-container" th:each="hit : ${hits}">
                            <div class="search-result">
                                <div class="search-result-header">
                                    <h3 th:text="${hit.channel}">#channel</h3>
                                    <span class="time-ago" th:title="${hit.dateTimeString}" th:text="${hit.periodString} + ' ago'">5 minutes ago</span>
                                    <a th:href="${hit.getContextURL(q)}">view »</a>
                                </div>
                                <div class="chatBlock them">
                                    <table width="100%" cellspacing="0" cellpadding="0">
                                        <tbody><tr>
                                            <td class="nameBlock">
                                                <p th:text="${hit.realname}">Some Dude</p>
                                            </td>
                                            <td class="messageBlock">
                                                <p class="timeBlock" th:text="${hit.timeString}">11:37 PM</p>
                                                <p class="msgText" th:utext="${hit.maybeHighlightedText}">Hey y'all!</p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
