div.search-box {
    margin: 20px 0;
}

#search-form .text {
    height: 2.2em;
}

.highlight {
    background-color: #FFF7A6;
}

#chats * {
    font-size: 12px;
}

.search-result-header {
    margin: 30px 0 10px 0 !important;
}

.search-result-header h3 {
    font-size: 13px !important;
    font-weight: bold !important;
    margin-left: 2px !important;
    display: inline-block;
}

.search-result-header .time-ago {
    display: inline-block;
    margin-left: 10px !important;
    color: #999999;
}

.search-result-header a {
    display: inline-block;
    margin-left: 10px !important;
    text-decoration: none;
}

#chats div.chatBlock {
    border-top: 1px solid #E1E1E1;
}

#chats div.chatBlock td {
    padding: 3px 0;
}

#chats td.nameBlock {
    width: 110px;
    background-color: #F7F7F7;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    vertical-align: top;
    font-weight: bold;
    text-align: right;
}

#chats td.nameBlock p {
    color: #636363;
    width: 110px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#chats div.chatBlock p, #chats div.chatBlock div {
    margin: 0 10px;
}

#chats p {
    font-size: 12px;
}

#chats td.messageBlock {
    border-left: 1px solid #E1E1E1;
}

#chats p.timeBlock, #chats p.timeBlock a {
    white-space: nowrap;
    color: #999999;
    float: right;
    font-size: 11px;
}

#footer .footer-body, #footer-logo a {
    background: none;
}
