<header id="header" role="banner">
    <nav class="aui-header aui-dropdown2-trigger-group" role="navigation">
        <div class="aui-header-inner">
            <div class="aui-header-primary">
                <h1 id="logo" class="aui-header-logo aui-header-logo-textonly"><a href="/"><span class="aui-header-logo-device">Banter</span></a></h1>
                <ul class="aui-nav">
                    <li><a href="/admin">Admin</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
